<template>
  <div>
    <b-row>
      Detalle de la oferta
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'offers-detail',
  data () {
    return {}
  },

  methods: {
    buyProduct() {
      // TO DO
    }
  }
}
</script>