<template>
  <div>
    Indice de Ofertas
  </div>
</template>

<script>
export default {
  name: 'offers-index',
  data () {
    return {}
  },

  methods: {
    buyProduct() {
      // TO DO
    }
  },
}
</script>