<template>
  <div>
    <b-alert
      fade
      :id="id"
      :show="getShow"
      :variant="getVariant"
      :class="`toast-app ${getClassName}`"
      :dismissible="true"
      @dismissed="completedDismissed"
    >{{ getContent }}</b-alert>
  </div>
</template>

<script>
import config from './config';
import actionsName from './store/actionsName';

const { UPDATE_RESET_APP_ALERT_MODEL } = actionsName;

export default {
  name: config.name,
  props: {
    id: {
      type: String,
      default: ''
    },
    params: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    getShow() {
      return Boolean(this.params.content) && this.params.show;
    },
    getVariant() {
      return this.params.variant;
    },
    getClassName() {
      return this.params.className;
    },
    getContent() {
      return this.params.content;
    }
  },
  methods: {
    /**
     * Remove the params save into the Vuex
     */
    completedDismissed() {
      this.$store.dispatch(`${config.name}/${UPDATE_RESET_APP_ALERT_MODEL}`);
    }
  }
};
</script>
