<template>
  <div>
    <div
      :id="id"
      :class="{ 'app-loading-layer': true, 'd-none': !getShow }"
      >
      <div class="app-loading-layer__icon">
        <font-awesome-icon 
        icon="sync-alt" 
        class="fa-spin" />
      </div>
      <div class="app-loading-layer__text">
        {{ getText }}
      </div>
    </div>
  </div>
</template>

<script>
import config from './config';
import actionsName from './store/actionsName';

const { UPDATE_APP_LOADING_LAYER_RESET_MODEL } = actionsName;

export default {
  name: config.name,
  props: {
    id: {
      type: String,
      default: '',
    },
    params: {
      type: Object,
      default: () => {},
    },
  },
  computed: {
    getShow() {
      return this.params.show;
    },
    getText() {
      return this.params.text;
    },
  },
  methods: {
    /**
     * Remove the params save into the Vuex
     */
    resetLoadingLayer() {
      this.$store.dispatch(`${config.name}/${UPDATE_APP_LOADING_LAYER_RESET_MODEL}`);
    },
  },
  watch: {
    'params.show': function (newValue, oldValue) {
      if (newValue === false) {
        this.resetLoadingLayer();
      }
    },
  },
}
</script>

<style lang="scss">
  @import '../../styles/main.scss';
  .app-loading-layer{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index:1000;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .app-loading-layer__icon{
    color: $primary-color;
    font-size: 2rem;
  }
  .app-loading-layer__text{
    font-size: 1.5rem;
  }
</style>
