<template>
  <div>
    <div v-if="availableIdeas && availableIdeas.length > 0">
      <b-row class="list-items">
        <b-col
          xl="3"
          lg="4"
          md="6"
          sm="6"
          xs="12"
          v-for="item in availableIdeas"
          :key="item.Idea.id"
        >
          <div class="ribbon">
            <div class="ribbon__amount">
              <span class="inline-block mr-1">{{ item.totalJoin }}</span>
              <font-awesome-icon icon="users"/>
            </div>
            <div class="ribbon__background"></div>
          </div>
          <router-link :to="`/ideas/${item.Product.name_seo}`" class="item-link">
            <b-card
              :title="item.Product.name"
              :img-src="item.Product.image | assets"
              img-alt="Image"
              img-top
              tag="article"
              class="mb-4"
            >
              <p class="card-text primary-color">{{ item.Categorie.name }}</p>
              <p
                class="card-text card-text--description"
              >{{ item.Product.description | truncate({length: 150, removeHtml: true}) }}</p>
              <b-button
                @click="joinToIdea"
                variant="primary"
                :disabled="Boolean(item.canJoin)"
                block
              >
                <span>Join idea</span>
              </b-button>
              <div class="card-body__info">
                <span class="inline-block mr-2">
                  <font-awesome-icon icon="users"/>
                  <span class="inline-block ml-1 text-secondary">{{ item.totalJoin }} joined</span>
                </span>
                <span class="inline-block">
                  <font-awesome-icon icon="fire"/>
                  <span class="inline-block ml-1 text-secondary">{{ item.Idea.expiry | expiry }}</span>
                </span>
              </div>
            </b-card>
          </router-link>
        </b-col>
      </b-row>
    </div>
    <div v-else>
      <ideas-empty></ideas-empty>
    </div>
  </div>
</template>

<script>
import formMixin from '@/mixins/formMixin';
import actionsName from '@/store/actionsName';
import IdeasEmpty from '@/views/ideas/IdeasEmpty';
import { mapGetters } from 'vuex';

const { GET_IDEAS_API, UPDATE_IDEAS_MODEL } = actionsName;

export default {
  name: 'ideas-index',
  mixins: [formMixin],
  components: { IdeasEmpty },

  computed: {
    ...mapGetters(['activatedIdeas']),
    availableIdeas() {
      return this.$store.state.ideas.length > 0 ? this.activatedIdeas : [];
    }
  },

  mounted() {
    this.$nextTick(() => {
      this.getIdeas();
    });
  },

  methods: {
    /**
     * Get ideas from server
     */
    getIdeas() {
      this.showLoadingLayer({ show: true });
      this.$store
        .dispatch(GET_IDEAS_API)
        .then(response => {
          if (this.defaultResponseServer(response) !== false) {
            this.$store.dispatch(UPDATE_IDEAS_MODEL, response.data.paginator);
          }
        })
        .finally(() => this.showLoadingLayer({ show: false }));
    },

    /**
     * Join an idea
     */
    joinToIdea(ideaId) {
      // TO DO
    }
  }
};
</script>

<style lang="scss">
@import "../../styles/main.scss";
@media screen and (max-width: 576px) {
  .list-items {
    .ribbon {
      top: 10px;
      padding-left: 68px;
    }
    .card {
      margin: 0.9375rem;
    }
  }
}
</style>