<template>
  <div>
    <b-row>
      <b-col>
        <div class="info-box mb-4">
          <h3 class="info-box__title">No hemos encontrado la idea que buscabas</h3>
          <div class="info-box__content">
            <p>
              Si no has encontrado el producto que buscabas, puedes crear ahora mismo tu propia 
              idea, pero antes de eso debes tener en cuenta las siguientes puntos:
            </p>
            <ul class="info-box__list">
              <li>
                <span>
                  Si el producto ya esta asociada a una idea, <b>no podrás crearla</b>.
                </span>
              </li>
              <li>
                <span>
                  Si el producto ya esta asociada a una oferta, <b>no podrás crearla</b>.
                </span>
              </li>
              <li>
                <span>
                  Si el producto no está en nuestro catálogo, <b>no podrás crearla</b>.
                </span>
              </li>
              <li>
                <span>
                  Y por supuesto, la creación de una nueva idea, <b>no te obliga a nada</b>.
                </span>
              </li>
            </ul>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <ideas-form></ideas-form>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import IdeasForm from '@/views/ideas/IdeasForm';

export default {
  name: 'ideas-empty',
  components: { IdeasForm },
}
</script>