<template>
   <div>
    <b-form 
      @submit.prevent="onSubmit">
      <b-row>
        <b-col>
          <b-form-group label="Nombre del producto"
                        label-for="name"
                        label-class="primary-color"
                        description="Buscaremos entre los productos de nuestro catálogo">
            <vue-bootstrap-typeahead
              v-model="querySearch"
              placeholder="- Producto -"
              inputClass="form-autocomplete"
              :data="availableProducts"
              :serializer="parseData"
              @hit="selectProduct">
              <template slot="suggestion" slot-scope="{ data, htmlText }">
                <div class="autocomplete-ideas-form">
                  <img
                    class="autocomplete-ideas-form__image"
                    :src="data.Product.image | assets" />
                  <span v-html="htmlText" class="autocomplete-ideas-form__product">
                    {{ data.Product.name }}
                  </span>
                  <span class="autocomplete-ideas-form__categorie">
                    {{ data.Categorie.name }}
                  </span>
                </div>
              </template>
            </vue-bootstrap-typeahead>
          </b-form-group>
        </b-col>
      </b-row>
      <b-button 
        type="submit"
        variant="secondary"
        :disabled="processingForm || !isFormCompleted">
        <span class="inline-block mr-1">Crear idea</span>
        <font-awesome-icon icon="sync-alt" class="fa-spin" v-if="processingForm" />
      </b-button>
    </b-form>
   </div>
</template>

<script>
import VueBootstrapTypeahead from 'vue-bootstrap-typeahead';
import { validationMixin } from 'vuelidate';
import { required, minValue } from 'vuelidate/lib/validators';
import formMixin from '@/mixins/formMixin';
import actionsName from '@/store/actionsName';
import { mapGetters } from 'vuex';

const get = require('lodash.get');

const {
  SET_IDEA_API,
  UPDATE_IDEAS_MODEL,
  GET_IDEAS_API,
} = actionsName;

export default {
  name: 'ideas-form',
  mixins: [validationMixin, formMixin],
  components: {VueBootstrapTypeahead},

  data() {
    return {
      querySearch: '',
      selectedProduct: null,
      errorForm: 'Debes seleccionar alguno de los productos indicados',
      successMsg: 'La idea se ha creado correctamente',
    };
  },

  computed: {
    ...mapGetters([
      'availableProducts',
    ]),
  },

  watch: {
    querySearch: function (newQuery, oldQuery) {
      if (newQuery.length < 2) {
        this.selectedProduct = null;
      }
    },
  },

  methods: {
    /**
     * Trigger after submit correctly
     */
    afterSubmit() {
      if (this.selectedProduct !== null) {
        // Create a new idea
        this.showLoadingLayer({ show: true });
        this.$store.dispatch(SET_IDEA_API, {products_id: this.selectedProduct})
          .then((response) => {
            if(this.defaultResponseServer(response) !== false) {
              this.reloadIdeas();
              this.showAlert({
                content: this.successMsg,
                variant: 'primary',
              });
            }
          })
          .finally(() => this.showLoadingLayer({ show: false }));
      }
    },

    /**
     * Reload ideas from server
     */
    reloadIdeas() {
      this.showLoadingLayer({ show: true });
      this.$store.dispatch(GET_IDEAS_API)
        .then((response) => {
          if(this.defaultResponseServer(response) !== false) {
            this.$store.dispatch(UPDATE_IDEAS_MODEL, response.data.paginator);
          }
        })
        .finally(() => {
          this.showLoadingLayer({ show: false });
          this.hideModal('main-modal-app'); // If it was calling by the modal
        });
    },

    /**
     * Parse data to autocomplete component
     * @param {array} data - data array
     * @return {string} string to match
     */
    parseData(data) {
      return data.Product.name;
    },

    /**
     * It is triggered after select a product in "autocomplete"
     * @param {array} data - data array
     * @return {string} string to match
     */
    selectProduct($event) {
      this.selectedProduct = get($event, 'Product.id', null);
    },
  },

  validations: {
    selectedProduct: {
      required,
      minValue: minValue(1),
    },
  }
}
</script>

<style scoped lang="scss">
  @import '../../styles/main.scss';
  .autocomplete-ideas-form__image{
    float: left;
    width: auto;
    height: 50px;
    margin-right:0.5rem;
  }
  .autocomplete-ideas-form__product{
    display: block;
    font-size: 1rem;
    padding-top:0.2rem;
  }
  .autocomplete-ideas-form__categorie{
    display: block;
    font-size: 0.8rem;
    color:$primary-color;
  }
</style>