<template>
  <div>
    <div v-if="item.Idea">
      <b-row>
        <b-col
          offset-xl="1"
          xl="10"
          offset-lg="1"
          lg="10"
          offset-md="1"
          md="10"
          sm="12">
          <b-row class="item-detail">
            <b-col
              class="item-detail__left"
              xl="6"
              lg="6"
              md="6"
              sm="12">
              <img :src="item.Product.image | assets"
                  class="item-detail__photo"
              >
            </b-col>
            <b-col
              class="item-detail__right"
              xl="6"
              lg="6"
              md="6"
              sm="12">
              <router-link to="/ideas" class="item-detail__back">
                <font-awesome-icon icon="angle-left" />
                <span class="inline-block ml-1">Come back to list</span>
              </router-link>
              <h1 class="item-detail__name"> {{ item.Product.name }} </h1>
              <span class="item-detail__categorie"> {{ item.Categorie.name }} </span>
              <div class="item-detail__info mb-3">
                <span class="inline-block mr-2">
                  <font-awesome-icon icon="users" />
                  <span class="inline-block ml-1 text-secondary">{{ item.totalJoin }} joined</span>
                </span>
                <span class="inline-block">
                  <font-awesome-icon icon="fire" />
                  <span class="inline-block ml-1 text-secondary">{{ item.Idea.expiry | expiry }}</span>
                </span>
              </div>
              <b-button
                  @click="joinToIdea"
                  variant="primary"
                  :disabled="Boolean(item.canJoin)"
                  class="item-detail__join-button">
                <span>Join idea</span>
              </b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <div class="item-detail__description pt-4 mt-4">
            <h2 class="item-detail__description__title">Description</h2>
            <div v-html="item.Product.description"></div>
          </div>
        </b-col>
      </b-row>
    </div>
    <div v-else>
      <ideas-empty></ideas-empty>
    </div>
  </div>
</template>

<script>
import formMixin from '@/mixins/formMixin';
import actionsName from '@/store/actionsName';
import IdeasEmpty from '@/views/ideas/IdeasEmpty';

const {
  GET_IDEA_API,
} = actionsName;

export default {
  name: 'ideas-detail',
  mixins: [formMixin],
  components: { IdeasEmpty },

  data () {
    return {
      item: {},
    }
  },

  watch: {
    '$route' (to, from) {
      this.getIdea(to.params.nameSeo || false);
    }
  },

  mounted() {
    this.getIdea(this.$route.params.nameSeo || false);
  },

  methods: {
    /**
     * Get ideas from server
     */
    getIdea(nameSeo) {
      if (nameSeo !== false) {
        this.showLoadingLayer({show: true});
        this.$store.dispatch(GET_IDEA_API, nameSeo)
          .then((response) => {
            if(this.defaultResponseServer(response) !== false && response.data.register !== null) {
              this.item = response.data.register;
            } else {
              this.item = {};
            }
          })
          .finally(() => this.showLoadingLayer({show: false}));
      }
    },

    /**
     * Join an idea
     */
    joinToIdea(ideaId) {
      // TO DO
    }
  },

}
</script>