<template>
  <div>
    <b-navbar
      toggleable="sm"
      class="main-nav">
      <b-navbar-toggle
        target="app-main-nav">
        <font-awesome-icon icon="bars" />
      </b-navbar-toggle>
      <b-navbar-brand>
        <img
          src="../../assets/static/img/logo.png"
          class="main-nav__logo d-none d-sm-block"
          alt="Chusyu">
        <span 
          class="d-sm-none"
          v-if="currentSection !== false">
          {{ currentSection }}
        </span>
        <span
          class="d-sm-none"
          v-else>
          Chusyu
        </span>
      </b-navbar-brand>
      <b-collapse
        is-nav
        id="app-main-nav"
        class="main-nav__menu">
        <b-navbar-nav class="main-nav__menu--left">
          <b-nav-item
            v-b-toggle.app-main-nav
            v-for="link in linksInMainMenu"
            :key="link.name"
            :to="link.path">
            <span>{{ link.meta.sectionTitle }}</span>
          </b-nav-item>
          <b-nav-item
            v-if="isUserLogged"
            @click.prevent="loadIdeasForm"
            class="nav-item--new-idea d-none d-sm-block">
            <b-button
              variant="primary">
              <span class="inline-block ml-1">Add idea</span>
            </b-button>
          </b-nav-item>
          <b-nav-item
            v-if="!isUserLogged"
            to="/user-login"
            class="nav-item--register">
            <span>Login</span>
          </b-nav-item>
        </b-navbar-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto main-nav__menu--right">
          <b-nav-item
            class="d-none d-sm-block"
            v-b-toggle.collapseSearch
            v-if="showSearch">
            <span> 
              <font-awesome-icon icon="search" />
            </span>
          </b-nav-item>
          <b-nav-item
            v-b-toggle.app-main-nav
            v-if="isUserLogged"
            to="/user">
            <span>
              <font-awesome-icon icon="user-cog" />
              <small class="d-inline d-sm-none">SetUp</small>
            </span>
          </b-nav-item>
          <b-nav-item
            v-b-toggle.app-main-nav
            v-if="isUserLogged"
            @click="closeSession">
            <span>
              <font-awesome-icon icon="sign-out-alt" />
              <small class="d-inline d-sm-none">Logout</small>
            </span>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <b-collapse 
      id="collapseSearch"
      v-if="showSearch">
      <search-app></search-app>
    </b-collapse>
  </div>
</template>

<script>
import routesName from '@/router/routesName';
// Components
import SearchApp from '@/components/commons/SearchApp';
// Mixin
import interfaceMixin from '@/mixins/interfaceMixin';
// View
import IdeasForm from '@/views/ideas/IdeasForm'
// Vuex
import { mapGetters } from 'vuex';

const get = require('lodash.get');

const routes = routesName;

export default {
  name: 'header-app',
  components: { SearchApp },
  mixins: [interfaceMixin],
  data() {
    return {
      currentSection: false,
      showSearch: false,
    };
  },
  mounted() {
    this.showSearch = this.isVisibleSearch(this.$route.fullPath);
  },
  watch: {
    // eslint-disable-next-line
    '$route'(to) {
      this.showSearch = this.isVisibleSearch(to.fullPath);
      this.currentSection = get(to, 'meta.sectionTitle', false);
    },
  },
  computed: {
    ...mapGetters([
      'isUserLogged',
    ]),
    linksInMainMenu: () => {
      return routes.filter(route => route.meta && route.meta.isMainMenu);
    },
  },
  methods: {
    /**
     * Show modal with ideas formulary
     */
    loadIdeasForm() {
      this.modifyModal({
        title: 'Crear idea',
        component: IdeasForm,
        showFooter: false
      }, { show: true });
    },

    /**
     * Show/Hide Search Icon and Formulary
     *
     * @param {object} path - route to go
     * @return {boolean}
     */
    isVisibleSearch: (path = '') => {
      const fullPath = path || false;
      const pages = routes
        .filter(route => route.meta && route.meta.hasSearch)
        .map((route) => {
          // Elimino "/" inicial de la ruta
          return route.path.indexOf('/') > -1
           ? route.path.slice(1, route.path.length)
           : route.path;
        });
      const regex = new RegExp('\/(' + pages.join('|') + ')', 'i');

      return fullPath !== false
       ? regex.test(fullPath)
       : false;
    },
  },
}
</script>

<style lang="scss">
  @import '../../styles/main.scss';
  .main-nav {
    max-width: 1140px;
    background:$background-primary-color;
    padding-left:0.5rem;
    padding-right:0.5rem;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
    border-bottom:1px solid $border-color;
    z-index:10;
  }
  .main-nav__logo {
    height: 1.875rem;
    width: 1.875rem;
  }
  .main-nav__menu {
    &>.navbar-nav {
      height: 4rem;
      &.main-nav__menu--left {
        .nav-item {
          &.nav-item--register {
            .nav-link {
              border-bottom:3px solid $primary-color;
              color:$primary-color;
               &.active {
                border-bottom-color:$primary-color;
              }
            }
          }
          &.nav-item--new-idea {
            .nav-link {
              border-bottom:0;
              height: 4rem;
              font-weight: bold;
               &.active {
                border-bottom:0;
              }
            }
          }
          .nav-link {
            margin: 0;
            padding: 0 1.25rem;
            font-size: 0.9rem;
            height: 4.10rem;
            line-height: 4rem;
            &.active {
              border-bottom:3px solid $text-primary;
            }
          }
        }
      }
      &.main-nav__menu--right {
        .nav-item {
          padding-left: 0;
          padding-right: 0;
          .nav-link {
            padding-left: 0;
            padding-right: 0;
            height: 4rem;
            line-height: 3rem;
            &.active{
              color:$primary-color;
            }
            &>span {
              font-size: 1.3rem;
              padding:0 0.8rem;
            }
          }
        }
      }
    }
  }

  /***
  MEDIA QUERYS
  ***/
  @media screen and (max-width: 576px) {

    .main-nav {
      padding-top:0;
      padding-bottom:0;
      &.navbar-light {
        .navbar-toggler{
          color:$primary-color;
          border:0;
          font-size: 2rem;
          padding-top: 0;
          padding-bottom: 0;
          height: 4rem;
        }
        .navbar-brand {
          padding-top: 0;
          padding-bottom: 0;
          height: 4rem;
          line-height: 4rem;
          text-transform: uppercase;
        }
      }

      .main-nav__menu {
        background: $white;
        border-bottom:2px solid $border-color;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        &>.navbar-nav {
          height: auto;
          &.main-nav__menu--left {
            .nav-item {
              border-top:1px dashed $border-color;
              .nav-link {
                text-transform: uppercase;
                font-size:1rem;
                height: 3.5rem;
                line-height: 3.5rem;
                &.active {
                  border-bottom:0;
                  color:$primary-color;
                }
              }
              &:first-child{
                border-top: 0;
              }
            }
          }
          &.main-nav__menu--right {
            flex-direction: row;
            background: rgba(0, 0, 0, 0.05);
            .nav-item {
              .nav-link {
                &>span {
                  border-right:1px solid $border-color;
                }
              }
              &:last-child{
                .nav-link {
                  &>span {
                    border-right:0;
                  }
                }
              }
            }
          }
        }
      }
    }

  }
</style>
