<template>
  <div class="search-app">
    <b-container class="p-2">
      <b-form inline class="justify-content-end">
        <b-form-checkbox
          id="join"
          v-if="isUserLogged"
          value="accepted"
          unchecked-value="not_accepted"
        >Participo en ellas</b-form-checkbox>
        <b-form-checkbox
          id="created"
          v-if="isUserLogged"
          value="accepted"
          unchecked-value="not_accepted"
        >Creadas por mi</b-form-checkbox>
        <b-form-select class="mr-2" v-model="selectedCategorie">
          <option :value="null">- select categorie -</option>
          <option
            :value="categorie.value"
            v-for="categorie in categories"
            :key="categorie.value"
          >{{ categorie.text }}</option>
        </b-form-select>
        <b-input placeholder=" - search product - "/>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import formMixin from '@/mixins/formMixin';
import actionsName from '@/store/actionsName';
import { mapGetters } from 'vuex';

const { GET_CATEGORIES_API, UPDATE_CATEGORIES_MODEL } = actionsName;

export default {
  name: 'search-app',
  mixins: [formMixin],
  computed: {
    ...mapGetters(['isUserLogged'])
  },

  data() {
    return {
      selectedCategorie: null,
      categories: [
        {
          value: 1,
          text: 'Deportes'
        },
        {
          value: 2,
          text: 'Videojuegos'
        },
        {
          value: 3,
          text: 'Electrónica'
        }
      ]
    };
  },

  created() {
    this.getAllCategories();
  },

  methods: {
    getAllCategories() {
      this.$store.dispatch(GET_CATEGORIES_API).then(response => {
        if (this.defaultResponseServer(response) !== false) {
          this.$store.dispatch(
            UPDATE_CATEGORIES_MODEL,
            response.data.paginator
          );
        }
      });
    }
  }
};
</script>

<style lang="scss">
@import "../../styles/main.scss";
.search-app {
  & > div {
    background-color: $background-secondary-color;
    @include boxShadow(0 0px 5px 1px rgba(0, 0, 0, 0.1));
    border: 1px solid $border-color;
    border-top: 0;
  }
  .form-control {
    background-color: $background-primary-color;
    &:focus,
    &:hover {
      background-color: $background-primary-color;
    }
    &:focus {
      border-bottom: 1px solid $border-color-hover;
      background-color: $background-primary-color;
    }
  }
}
</style>
