<template>
  <div :id="appId">
    <!-- Loading Layer -->
    <app-loading-layer
      :id="appMainLoadingLayerId"
      :params="getDataAppLoadingLayer">
    </app-loading-layer>
    <!-- Menu App -->
    <header-app></header-app>
    <main class="mt-4 pb-4">
      <b-container>
        <!-- Alert -->
        <app-alert
          :id="appMainAlertId"
          :params="getDataAppAlert">
        </app-alert>
        <!-- Content App -->
        <transition 
          name="fade"
          mode="out-in"
          >
          <router-view></router-view>
        </transition>
      </b-container>
    </main>
    <!-- Modal -->
    <app-modal
      :id="appMainModalId"
      :params="getDataAppModal">
      </app-modal>
  </div>
</template>

<script>
  // Constants
  import constants from '@/constants'
  // Components
  import HeaderApp from '@/components/commons/HeaderApp';
  // Components App
  import AppAlert from '@/components/AppAlert/AppAlert';
  import AppLoadingLayer from '@/components/AppLoadingLayer/AppLoadingLayer';
  import AppModal from '@/components/AppModal/AppModal';
  // Mixins
  import formMixin from '@/mixins/formMixin';
  // Vuex
  import actionsName from '@/store/actionsName';
  import { mapGetters } from 'vuex';

  const {
    GET_PRODUCTS_API,
    UPDATE_PRODUCTS_MODEL,
  } = actionsName;

  const {
    APP_ID,
    APP_MAIN_ALERT_ID,
    APP_MAIN_MODAL_ID,
    APP_MAIN_LOADING_LAYER_ID,
    VUEX_MODULES
  } = constants

  export default {
    name: 'app',
    components: { HeaderApp, AppModal, AppAlert, AppLoadingLayer },
    mixins: [ formMixin ],
    data () {
      return {
        appId: APP_ID,
        appMainAlertId: APP_MAIN_ALERT_ID,
        appMainModalId: APP_MAIN_MODAL_ID,
        appMainLoadingLayerId: APP_MAIN_LOADING_LAYER_ID,
      }
    },
    computed: {
      ...mapGetters(VUEX_MODULES.appAlert, ['getDataAppAlert']),
      ...mapGetters(VUEX_MODULES.appLoadingLayer, ['getDataAppLoadingLayer']),
      ...mapGetters(VUEX_MODULES.appModal, ['getDataAppModal']),
    },

    created() {
      this.getAllProducts();
    },

    methods: {
      /**
       * Get all products to use in the search
       */
      getAllProducts() {
        this.$store.dispatch(GET_PRODUCTS_API)
          .then((response) => {
            if(this.defaultResponseServer(response) !== false) {
              this.$store.dispatch(UPDATE_PRODUCTS_MODEL, response.data.paginator);
            }
          });
      },
    },

  }
</script>
<style>
  #main-app-alert {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    margin-left: -25%;
    width: 50%;
  }

  @media (max-width: 1024px) {
    #main-app-alert {
      width: 75%;
      margin-left: -37.5%;
    }
  }

  @media (max-width: 600px) {
    #main-app-alert {
      width: 95%;
      margin-left: -47.5%;
      bottom:1rem;
    }
  }
</style>