<template>
  <div>
    <b-form 
      @submit.prevent="onSubmit">
      <b-row>
        <b-col
          xl="6"
          lg="6"
          md="6"
          sm="12"
          xs="12">
          <b-form-group label="Dirección correo electrónica"
                        label-for="email"
                        label-class="primary-color"
                        description="Email para acceder a la aplicación (no se puede modificar)">
            <p><mark>{{ loggedUser.email }}</mark></p>
          </b-form-group>
          <b-form-group class="mb-2">
            <b-form-checkbox 
                    v-model="changePassword"
                    :value="true"
                    :unchecked-value="false">
              Quiero cambiar mi contraseña
            </b-form-checkbox>
          </b-form-group>
          <b-form-group label-for="password"
                        label-class="primary-color"
                        description="Mínimo de 6 caracteres, usa letras y números"
                        v-if="changePassword">
            <b-row>
              <b-col
                xl="6"
                lg="6"
                md="6"
                sm="12"
                xs="12">
                <b-form-input ref="password"
                              type="password"
                              v-model.trim="$v.loggedUser.password.$model"
                              :disabled="!changePassword"
                              :state="getStatusInput('loggedUser.password')"
                              placeholder="- Password -">
                </b-form-input>
                <b-form-invalid-feedback>
                  Debe contener al menos 6 caracteres
                </b-form-invalid-feedback>
              </b-col>
              <b-col
                xl="6"
                lg="6"
                md="6"
                sm="12"
                xs="12"
                class="mt-3 mt-xl-0 mt-lg-0 mt-md-0">
                <b-form-input ref="repeat-password"
                              type="password"
                              v-model.trim="$v.loggedUser.repeatPassword.$model"
                              :disabled="!changePassword"
                              :state="getStatusInput('loggedUser.repeatPassword')"
                              placeholder="- Repeat password -">
                </b-form-input>
                <b-form-invalid-feedback>
                  No coinciden
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
        <b-col
          xl="6"
          lg="6"
          md="6"
          sm="12"
          xs="12">
          <b-form-group label="Nombre de tu usuario (Apodo)"
                        label-for="nick"
                        label-class="primary-color"
                        description="Así te conocerán en Chusyu">
            <b-form-input ref="nick"
                          type="text"
                          :value="loggedUser.nick"
                          v-model.trim="$v.loggedUser.nick.$model"
                          :state="getStatusInput('loggedUser.nick')"
                          placeholder="- Nickname -">
            </b-form-input>
            <b-form-invalid-feedback>
              Debe contener al menos 3 caracteres
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group label="Datos personales"
                        label-for="firstname"
                        label-class="primary-color"
                        description="Estos datos son privados y son requeridos para comprar"
                        >
            <b-row>
              <b-col
                xl="6"
                lg="6"
                md="6"
                sm="12"
                xs="12">
                <b-form-input ref="firstname"
                              type="text"
                              :value="loggedUser.firstname"
                              v-model.trim="$v.loggedUser.firstname.$model"
                              :state="getStatusInput('loggedUser.firstname')"
                              placeholder="- Firstname -">
                </b-form-input>
                <b-form-invalid-feedback>
                  Debe contener al menos 3 caracteres
                </b-form-invalid-feedback>
              </b-col>
              <b-col
                xl="6"
                lg="6"
                md="6"
                sm="12"
                xs="12"
                class="mt-3 mt-xl-0 mt-lg-0 mt-md-0">
                <b-form-input ref="lastname"
                              type="text"
                              :value="loggedUser.lastname"
                              v-model.trim="$v.loggedUser.lastname.$model"
                              :state="getStatusInput('loggedUser.lastname')"
                              placeholder="- Lastname -">
                </b-form-input>
                <b-form-invalid-feedback>
                  Debe contener al menos 3 caracteres
                </b-form-invalid-feedback>
              </b-col>
            </b-row>
          </b-form-group>
        </b-col>
      </b-row>
      <b-button 
        type="submit"
        variant="secondary"
        :disabled="processingForm || !isFormCompleted">
        <span class="inline-block mr-1">Guardar</span>
        <font-awesome-icon icon="sync-alt" class="fa-spin" v-if="processingForm" />
      </b-button>
    </b-form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, minLength, sameAs } from 'vuelidate/lib/validators';
import formMixin from '@/mixins/formMixin';
import actionsName from '@/store/actionsName';
import { mapGetters } from 'vuex';

const get = require('lodash.get');

const {
  UPDATE_USER_MODEL,
  UPDATE_USER_API,
} = actionsName;

export default {
  name: 'users-personal',
  mixins: [validationMixin, formMixin],

  data() {
    return {
      changePassword: false,
      errorForm: 'Completa el formulario con los datos requeridos',
      successMsg: 'Los cambios fueron salvados correctamente',
    };
  },

  computed: {
    ...mapGetters([
      'loggedUser',
    ]),
  },

  methods: {
    /**
     * Trigger after submit correctly
     */
    afterSubmit() {
      const dataUser = Object.keys(this.$v.loggedUser.$params)
        .map((field) => {
          return {
            [field]: get(this, `$v.loggedUser.${field}.$model`, ''),
          };
        })
        .reduce((obj, field) => Object.assign(obj, field));

      this.$store.dispatch(UPDATE_USER_API, dataUser)
        .then((response) => {
          if(this.defaultResponseServer(response) !== false) {
            this.$store.dispatch(UPDATE_USER_MODEL, dataUser);
            this.showAlert({
              content: this.successMsg,
              variant: 'primary',
            });
          }
        })
        .finally(() => this.processingForm = false);
    },
  },

  validations() {
    const rules = {
      loggedUser: {
        nick: {
          required,
          minLength: minLength(3),
        },
        firstname: {
          required,
          minLength: minLength(3),
        },
        lastname: {
          required,
          minLength: minLength(3),
        },
      },
    };

    if (this.changePassword) {
      Object.assign(rules.loggedUser, {
        password: {
          required,
          minLength: minLength(6),
        },
        repeatPassword: {
          required,
          sameAsPassword: sameAs('password'),
        },
      });
    };

    return rules;
  },
}
</script>