<template>
  <div>
    <!-- Menu mobile -->
    <b-form-select
      v-model="selectedTab"
      :options="optionTabToSelect"
      @change="changeSelectTab($event)"
      class="mb-3 d-sm-none" />

    <b-tabs
      class="tabs-user"
      v-model="selectedTab">
      <b-tab
        v-for="option in tabOptions"
        :key="option.value"
        :title="option.text"
        :active="option.active">
        <component :is="option.component">
        </component>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import UsersPersonal from '@/views/users/UsersPersonal';
import UsersAddress from '@/views/users/UsersAddress';
import UsersConfig from '@/views/users/UsersConfig';

export default {
  name: 'users-setup',
  components: { UsersPersonal, UsersAddress, UsersConfig },
  data() {
    return {
      selectedTab: 0,
      tabOptions: [
        {
          value: 0,
          text: 'Personal',
          component: UsersPersonal,
          active: true,
        },
        {
          value: 1,
          text: 'Direcciones',
          component: UsersAddress,
        },
        {
          value: 2,
          text: 'Configuraciones',
          component: UsersConfig,
        },
      ],
    };
  },

  computed: {
    /**
     * Parse tab options for selector
     */
    optionTabToSelect() {
      return this.tabOptions.map((item) => {
        return {
          value: item.value,
          text: item.text,
        };
      });
    },
  },

  methods: {
    /**
     * Change attr "selectTab" and show the current content tab
     *
     * @param {number} - index tabs collection
     */
    changeSelectTab(value) {
      this.selectedTab = value;
    },
  },
}
</script>

<style lang="scss">
.tabs-user{
  .tab-content{
    padding: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .tabs-user{
    .nav {
      display: none;
    }
    .tab-content{
      padding: 0;
    }
  }
}
</style>