<template>
  <div>
    He olvidado mi contraseña
  </div>
</template>

<script>
export default {
  name: 'users-forget',
  data () {
    return {
      email: '',
    }
  },
  methods: {},
}
</script>